<TMPL_VAR NAME="actor_username"> added a <a href='<TMPL_VAR NAME="web_root">/<TMPL_VAR NAME="album_owner_username">/<TMPL_VAR NAME="album_handle">/<TMPL_VAR NAME="albumphoto_id">?request=<TMPL_VAR NAME="request">#register=true'>photo</a> to to <TMPL_VAR NAME="possessive_album_owner_username"> <TMPL_VAR NAME="album_handle"> album.

<BR><BR>

<img src='<TMPL_VAR NAME="g_s3_root">/<TMPL_VAR NAME="albumphoto_s3">'>

<BR><BR>
