<TMPL_VAR NAME="actor_username"> created a new album <a href='<TMPL_VAR NAME="web_root">/<TMPL_VAR NAME="album_owner_username">/<TMPL_VAR NAME="album_handle">?request=<TMPL_VAR NAME="request">#register=true'><TMPL_VAR NAME="album_handle"></a>

<BR><BR>

<img src='<TMPL_VAR NAME="g_s3_root">/<TMPL_VAR NAME="albumphoto_s3">'>

<BR><BR>