<TMPL_VAR NAME="actor_username"> added a caption to <TMPL_VAR NAME="possessive_albumphoto_owner_username"> photo in the <TMPL_VAR NAME="album_handle"> album.<BR><BR>
"<TMPL_VAR NAME="caption">"
<BR><BR>

<a href='<TMPL_VAR NAME="web_root">/<TMPL_VAR NAME="album_owner_username">/<TMPL_VAR NAME="album_handle">?request=<TMPL_VAR NAME="request">#modal=comment&albumphoto_id=<TMPL_VAR NAME="albumphoto_id">&albumphoto_s3=<TMPL_VAR NAME="albumphoto_s3">'>Add a comment to this photo</a>

<img src='<TMPL_VAR NAME="g_s3_root">/<TMPL_VAR NAME="albumphoto_s3">'>
<BR><BR>