   <HTML>
     <HEAD>
     </HEAD>
     <BODY>

       <H1>Zipio activity notification</H1>

         <TMPL_LOOP NAME="email_message_loop">
            <DIV>
               <TMPL_VAR NAME="email_section">
            </DIV>
         </TMPL_LOOP>

     </BODY>       
   </HTML>