<TMPL_VAR NAME="actor_username"> liked a <a href='<TMPL_VAR NAME="web_root">/<TMPL_VAR NAME="album_owner_username">/<TMPL_VAR NAME="album_handle">/<TMPL_VAR NAME="albumphoto_id">?request=<TMPL_VAR NAME="request">#register=true'>photo</a> in <TMPL_VAR NAME="possessive_album_owner_username"> <TMPL_VAR NAME="album_handle"> album.<BR><BR>

<a href='<TMPL_VAR NAME="web_root">/<TMPL_VAR NAME="album_owner_username">/<TMPL_VAR NAME="album_handle">?request=<TMPL_VAR NAME="request">#modal=comment&albumphoto_id=<TMPL_VAR NAME="albumphoto_id">&albumphoto_s3=<TMPL_VAR NAME="albumphoto_s3">'>Add a comment to the photo</a>

<img src='<TMPL_VAR NAME="g_s3_root">/<TMPL_VAR NAME="albumphoto_s3">'>
<BR><BR>
