<TMPL_VAR NAME="actor_username"> liked <TMPL_VAR NAME="commenter_username">'s comment in the <TMPL_VAR NAME="album_handle"> album.

<BR><BR>

"<TMPL_VAR NAME="comment">"

<BR><BR>

<a href='<TMPL_VAR NAME="web_root">/<TMPL_VAR NAME="album_owner_username">/<TMPL_VAR NAME="album_handle">?request=<TMPL_VAR NAME="request">#modal=comment&albumphoto_id=<TMPL_VAR NAME="albumphoto_id">&albumphoto_s3=<TMPL_VAR NAME="albumphoto_s3">'>Add your own comment</a>

<BR><BR>

<img src='<TMPL_VAR NAME="g_s3_root">/<TMPL_VAR NAME="albumphoto_s3">'>

<BR><BR>