Options +FollowSymLinks
RewriteEngine On

RewriteRule ^([A-Za-z0-9-]+)/?$                                 my_albums.php?owner_username=$1 [QSA]
RewriteRule ^([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/?$                 display_album.php?album_owner_username=$1&album_handle=$2 [QSA]